
.body{
  background-image: url(../img/musica.jpeg);
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
  
  
}

.seccion-footer{
  color: white;
  font-family:'Raleway', sans-serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
 
}
.p-footer{
  font-size: small;
}

.logo-footer{
  height: 90px;
  width: 170px;
}

.header{
  font-family:'Raleway', sans-serif;
  align-items: center;
  text-align: center;
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.navegacion a{
  padding: 10px 30px;
  text-decoration: none;
}
.form-h2{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; 
  justify-content: space-between;
  align-items: center;
}

.gitMusic-logo{
  margin-right: 75px;
}

.logo-gitmusic{
  width: 90px;
  height: 90px;
  align-items:center;
  padding-bottom: 25px;
  }

.search{
  background-color: white;
  padding: 8px;
  height: 20px;
  border-radius: 20px;
}

.buscador-texto{
  border: none;
  background-color: none;
  outline: none;
  color: black;
  font-size: 15px;
}

.search input{
  
}

a:link{
color: white;
}

a:visited{
color: white;
}

.albumde{
font-family: 'Raleway', sans-serif;
color: lightgrey;
text-decoration: none;
}
.nombretema{
font-family: 'Raleway', sans-serif;
color: lightgrey;
text-decoration: none;
}
.titulotrack{
font-family: 'Raleway', sans-serif;
color: white;
text-align: center;
margin-top: 4%;
}
.trackdetails{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}
.trackbox{
color: white;
background-color: rgba(96, 96, 96, 0.4);
margin: 70px;
padding: 15px;
border: 3px solid rgb(124, 124, 124);
width: 380px;
height: 430px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.track{
width: 175px;
height: 175px;
}
.boton{
font-family: 'Raleway', sans-serif;
background-color: white;
}


.titulo-canciones{
color: white;
font-family: 'Raleway', sans-serif; 
}
.titulo-albunes{
 color: white;
 font-family: 'Raleway', sans-serif; 
}

.titulo-artistas{
color: white;
font-family: 'Raleway', sans-serif;
}

.canciones{
display: flex;
flex-direction: row;
flex-wrap: wrap ;
justify-content: space-between;

}

.cajas-canciones{
color: white;
background-color: rgba(124, 124, 124, 0.3); 
margin: 15px;
padding: 15px; 
border: 3px solid rgb(96, 96, 96);
text-align: center;
font-family: 'Raleway', sans-serif; 
}

.linkcancion{
  text-decoration: none;
}

.linkalbum{
  text-decoration: none;
}

.linkartista{
  text-decoration: none;
}

.imagenC {
width: 175px;
height: 175px;
}

.albunes{
display: flex;
flex-direction: row;
flex-wrap: wrap ;
justify-content: space-between;
}

.cajas-albunes{
color: white;
background-color: rgba(124, 124, 124, 0.3); 
margin: 15px;
padding: 15px; 
border: 3px solid rgb(96, 96, 96);
text-align: center;
font-family: 'Raleway', sans-serif; 
}

.imagenA {
width: 175px;
height: 175px;
}

.artistas{
display: flex;
flex-direction: row;
flex-wrap: wrap ;
justify-content: space-between;
}

.cajas-artistas{
color: white;
background-color: rgba(124, 124, 124, 0.3); 
margin: 15px;
padding: 15px; 
border: 3px solid rgb(96, 96, 96);
text-align: center;
font-family: 'Raleway', sans-serif; 

}

.imagenAr{
width: 175px;
height: 175px;
}

.footerp{
text-decoration: none;
}
.titulop{
  font-family: 'Raleway', sans-serif;
  color: white;
  text-align: center;
  margin-top: 4%;
  }
  .sectionp{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .gen{
    width: 175px;
    height: 175px;
  }
.geneross{
  padding: 15px;
  margin: 15px;
  border: 3px solid rgb(96, 96, 96);
  text-align: center;
}
.link{
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}
.albumbox{
  color: white;
  background-color: rgba(96, 96, 96, 0.4);
  margin: 70px;
  padding: 15px;
  border: 3px solid rgb(124, 124, 124);
  width: 380px;
  height: 430px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.albumpic {
  width: 175px;
  height: 175px;
  }
.albumtitle{
  font-family: 'Raleway', sans-serif;
  color: white;
  text-decoration: none;
}
.generotitle{
  font-family: 'Raleway', sans-serif;
  color: lightgrey;
  text-decoration: none;
}
.albumdetails{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.resultado-busqueda{
  color: white;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
.artistbox{
  color: white;
  background-color: rgba(96, 96, 96, 0.4);
  margin: 70px;
  padding: 15px;
  border: 3px solid rgb(124, 124, 124);
  width: 380px;
  height: 430px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.artistdetails{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.artistpic{
  width: 175px;
  height: 175px;
}
.artisttitle{
  font-family: 'Raleway', sans-serif;
  color: white;
}
.head1{
  font-family: 'Raleway', sans-serif;
  color: white;
  text-decoration: none;
  text-align: center;
  margin-top: 50px;
}
.detgen{
  font-family: 'Raleway', sans-serif;
  color: white;
  text-decoration: none;
}
.link2{
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}
.divf{
  margin-top: 138px;
}